
.numric-stepper {

 
     cursor: pointer;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: var(--spacing-medium);
     width: var(--spacing-xxlarge);
     height:var(--spacing-xlarge);
     background: var(--color-tertiary);
     border-radius: var(--border-radius-large );
     margin-top: var(--spacing-xlarge);
     margin-left: var(--spacing-xlarge);
    }
  
 .numric-stepper__minus, .numric-stepper__plus {
    border-radius: 100%;
    width: var(--spacing-large);
    height: var(--spacing-large);
    border: var(--spacing-xxsmall) solid var(--color-primary);
     padding: var(--spacing-small);
    }
    .numric-stepper__minus, .numric-stepper__plus{
     display: flex;
     align-items: center;
     justify-content: center;

    }

    .numric-stepper__plus:hover
    { background-color:var(--color-accent-6); 
   }

    .numric-stepper__minus:hover
    { background-color: var(--color-accent-6); 
   }

.numric-stepper__plus:hover {
	color: var(--color-accent-5);
}

.numric-stepper__minus:hover {
	color:  var(--color-accent-5); 
}